<article class="ang-matDialog">
    <div fxFlex fxLayout="column">
        <div class="article-content">
            <div class="header-center">
                <h2 class="category">
                    ASP.NET tutorial
                </h2>
                <div>
                    <h1 class="blog-title">
                        Basic Reporting in ASP.NET CORE MVC with EF Core
                    </h1>
                </div>
                <div class="author-info">
                    <div fxFlex fxLayout="column">
                        <div class="namee">
                            <span class="nameee">
                                Elvis S
                            </span>
                            
                            <span class="follow-twitter">
                                <a href="https://twitter.com/elvis_shrestha?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>                      
                            </span>
                        </div>
                        <div class="date-readtime">
                        </div>
                    </div>
                    
                </div>
            </div>
    
        </div>

        <div class="article-content">
            <div class="header-center">
                <p class="article-header">
                    introduction
                </p>
                <p class="article-paragraph">
                    In this tutorial, we will see how we can work with Data in ASP.NET MVC using Sqlite database and EF core.
                    Working with data is a major step in developing a web app and as a developer we come across this all the time.
                    We store the webapp data in its database for storage and we retrieve and work with it using C# LINQ in ASP.NET MVC framework.
                    Then, we present and list the data from various sources such database tables, fetch from APIs, and present it in a views in Razor pages.

                    This tutorial will show you how to make basic reporting particularly for the Admins/Masters to manage 
                    the product details. We will get a chance to work with data in various common data scenarios as master details provide us with 
                    chance to manage data and do tasks such as CRUD for our records in the database.
                </p>

                <p class="article-paragraph">
                    
                </p>
               
                <p class="article-paragraph">
                    We are going to use .NET 6.0 version for our web application, the data layer will be developed in Sqlite database which
                    is light-weight database intended for development purposes. And on the back-end, we will use EF core 6.0 with LINQ to query 
                    the database as c# objects. We will not go into much detail in the database layer and c#/EF code for accessing the database objects,
                    rather this will be more of a focus on the presentation-layer as we will explore techniques to utilize Javascript, JQuery and Ajax 
                    for seamless user experience and listing the data as a table, we will use bootstrap for stylings.
                </p>

                <p class="article-header">
                    Installing EF Core NuGet packages
                </p>

                <p class="article-paragraph">
                    We will need to install three packages for this tutorial in order to use EF Core and Sqlite, and install Microsoft.EntityFrameworkCore.design
                    in order to run commands to create migrations and update database tables.
                    Required packages are as follows and code to install them using dotnet CLI. <br>
                    <code class="inline-code">dotnet add package Microsoft.EntityFrameworkCore</code><br>
                    <code class="inline-code">dotnet add package Microsoft.EntityFrameworkCore.Sqlite</code><br>
                    <code class="inline-code">dotnet add package Microsoft.EntityFrameworkCore.design</code><br><br>

                    


                </p>
                <p class="article-header">
                    Creating the model
                </p>
                <p class="article-paragraph">
                    The model/entity classes for this example are in the following code.
                </p>
                <pre class="code">
                    <code class="code-block">
                      {{snippet1}}  
                    </code>
                </pre>
               

                <p class="article-paragraph">
                    Now, we will define our database context class. In .Net 6.0, to create a database connection we will override OnConfiguring method and pass the connection string from the appsettings file as below.
                    We used the startup class in .Net 5.0 to do this and we might encounter the error that the connection is not configured in the context class. Then, we will need to update our Program.cs class to set dependency injection with service container.
                </p>

                <pre class="code">
                    <code class="code-block">
                      {{snippet2}}  
                    </code>
                </pre>
                <pre class="code">
                    <code class="code-block">
                      {{snippet3}}  
                    </code>
                </pre>

                <p class="article-header">
                    Creating the database using EF migrations
                </p>
                
                <p class="article-paragraph">                  
                    After installing the EF Core Design package, we will be able to add migration and create using this <code class=""></code>
                </p>

                <pre class="code">
                    <code class="code-block">
                      {{snippet4}}  
                    </code>
                </pre>

                <p class="article-paragraph">
                    This will install migration scripts that will be used for creating the database in Data folder. Adding --verbose will give us detail if we get any error.
                </p>
                <p class="article-header">
                    Creating the Database seed class
                </p>
                <pre class="code">
                    <code class="code-block">
                      {{snippet5}}  
                    </code>
                </pre>
                <p class="article-paragraph">
                    Add the StoreContextSeed.cs class under data folder and replace it with the below code which will add example data in the database.
                    Notice that we are using three .json files for fill the tables used in our example.
                </p>
                <pre class="code">
                    <code class="code-block">
                      {{snippet6}}  
                    </code>
                </pre>

                <p class="article-paragraph">
                    Next, we will use this class to seed our database with the following method in the Program class, at the very below of all the code.
                    And we will call this method using this <code>await SeedDatabaseAsync();</code> under the <code>app.UseStaticFiles();</code>
                </p>

                <pre class="code">
                    <code class="code-block">
                      {{snippet9}}  
                    </code>
                </pre>

                <p class="article-header">
                    Basic Reporting with Dropdown filter
                </p>

                <p class="article-paragraph">
                    After setting up the data layer, we can see now how we can create a basic reporting and filter the report
                    using a dropdown, and we will use Jquery AJAX to filter data and make a call to our controller and update the table with the updated response.
                    Replace the index method of home page with the below code: 
                </p>

                <pre class="code">
                    <code class="code-block">
                      {{snippet7}}  
                    </code>
                </pre>
                <p class="article-paragraph">
                    We will pass the list of SelectListItem object which will contain the dropdown values and text for the Product brand with its ID.
                    This can be passed as a viewbag but we will use a viewmodel class for our view to store its related data like int property for dropdown selection, selectlistitem list etc. This list is used in our view for displaying the dropdown filter.
                    We can then use HTML Select element with ASP.NET HTML tab asp-for and asp-items to fill the dropdown box as shown below:
                </p>
                <pre class="code">
                    <code class="code-block">
                      {{snippet8}}  
                    </code>
                </pre>
                <p class="article-paragraph">
                    The products data is displayed in our view using the bootstrap table.
                </p>
                <pre class="code">
                    <code class="code-block">
                      {{snippet9}}  
                    </code>
                </pre>
                <p class="article-paragraph">
                    The complete view for our example will look like this image.
                </p>

                <div class="article-img">
                    <img src="assets/blog-data.png" alt="dialog box" style="width: 100%;  height: 80%;"role="presentation">
                </div>

            </div>

        </div>

        <div class="comments">
            <disqus [identifier]="pageId"></disqus>
        </div>
        
    </div>    
</article>

