.footer-row a{
    color: #BFDBFF;
    text-decoration: none;
    padding-left: 44px;
    font-size: 14px;
}

.copyright{
    float: left;
    padding-left: 40px;
    color: #BFDBFF;
    font-size: 14px;
}