<article class="ang-matDialog">
    <div fxFlex fxLayout="column">
        <div class="article-content">
            <div class="header-center">
                <h2 class="category">
                    Angular tutorial
                </h2>
                <div>
                    <h1 class="blog-title">
                        Angular Attribute Directive with Auto-focus example
                    </h1>
                </div>
                <div class="author-info">
                    <div fxFlex fxLayout="column">
                        <div class="namee">
                            <span class="nameee">
                                Elvis Shrestha
                            </span>
                            
                            <span class="follow-twitter">
                                <a href="https://twitter.com/elvis_shrestha?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>                      
                            </span>
                        </div>
                        <div class="date-readtime">
                            Sep 23 &nbsp; 2021
                        </div>
                    </div>
                    
                </div>
            </div>
    
        </div>

        <div class="article-content">
            <div class="header-center">
                <p class="article-paragraph">
                    This <strong><i>Angular Attribute Directive with Auto-focus example</i></strong> article walks you through directives in Angular 9 with a sample example of how to create attribute directive to auto-focus on a input form. 
                </p>
               
                <div class="article-img">
                    <img src="assets/article1.png" alt="dialog box" width="700" height="300" role="presentation">
                </div>

                <p class="article-paragraph">
                    Directives in Angular are classes that adds an additional behavior to elements in Angular applications. 
                    The directive class is decorated with <code class="inline-code">@Directive </code> decorator
                    Directive changes the apperance or behavior of DOM elements and Angular components with attribute directives.
                    More Info on <a href="https://angular.io/guide/built-in-directives" target="_blank">Directives</a>.
                    <br><br>Directives are useful in our web applications in many cases, we can use it to manage forms, lists, styles and the UI apperance of web pages.
                    In this article, We will also see how we can make use of attribute directive class to add auto-focus in Login Page. This directive can be used throghout our application to add auto-focus function anywhere as needed.

                </p>
               

                <p class="article-paragraph">
                    There are different types of directives in Angular. <Strong>Components</Strong> is the most common directive type which is a directive with template.
                    There are <strong>built-in attribute directives </strong>that Angular provides which modifies the behavior of other HTML elements, attributes, properties, and components.
                </p>
                
                <p class="article-paragraph">                  
                    Some of the common built-in attribute directives are <code class="inline-code">NgClass</code> 
                    which adds and removes CSS classes. <code class="inline-code">NgStyle</code> 
                    which adds and removes a set of HTML styles. <code class="inline-code">NgModel</code> that adds two-way data binding to an HTML form element. 
                    There is also <strong>Structural Directive</strong>. We will not go through them in detail here but you can find more info at link provided above. 

                </p>

                <p class="article-paragraph">
                    In this article, we will focus on Attribute Directive and creating one. As explained before, <strong>Attribute Directives</strong> in Angular are responsible for changing the apperanace or behavior of DOM elements and Angular components. 
                    Here, we will create a directive to add Auto-focus in the login form. In other words, we will create a directive to change the behavior of our HTML form. 
                </p>
                
            </div>

        </div>

    </div>
    
</article>