<article class="ang-matDialog">
    <div fxFlex fxLayout="column">
        <div class="article-content">
            <div class="header-center">
                <h2 class="category">
                    Angular tutorial
                </h2>
                <div>
                    <h1 class="blog-title">
                        Angular Attribute Directive Tutorial with Auto-focus
                    </h1>
                </div>
                <div class="author-info">
                    <div fxFlex fxLayout="column">
                        <div class="namee">
                            <span class="nameee">
                                Elvis Shrestha
                            </span>
                            
                            <span class="follow-twitter">
                                <a href="https://twitter.com/elvis_shrestha?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>                      
                            </span>
                        </div>
                        <div class="date-readtime">
                            Sep 23 &nbsp; 2021
                        </div>
                    </div>
                    
                </div>
            </div>
    
        </div>

        <div class="article-content">
            <div class="header-center">
                <p class="article-paragraph">
                    This <i>Angular 10 Material Dialog to Edit table row</i> tutorial shows you how we can use the Angular Material Dialog component 
                    to build a reusable UI for CRUD operations on a table data. 
                </p>
                <p class="article-paragraph">
                    It provides an introduction to concepts required to transfer data 
                    between components and MatDialog box. You will learn about MatDialogRef, MAT_DIALOG_DATA and MatDialogConfig.
                </p>
               

                <p class="article-paragraph">
                    This method will check if user has made any selection. If user has selected legend to set as true then it will update the hero legend property in the mat-table.
                    After the table is updated we are using ChangeDetectorRef Module from Angular to reset the table.
                    <br> <br> As mentioned before, we are not using any back-end for this tutorial and so the mock-data is modified temporarily. 
                </p>
                
                
            </div>

        </div>

    </div>
    
</article>