
<article class="ang-matDialog">
    <div class="article-header">
        <div class="header-center">
            <h2 class="category">
                Angular hands on tutorial
            </h2>
            <div>
                <h1 class="blog-title">
                    Building a dialog box to edit table row data with Angular Material Components
                </h1>
            </div>
            <div class="author-info">
                <div fxFlex fxLayout="column">
                    <span class="span-name">
                        <div class="namee">
                            <span class="nameee">
                                Elvis Shrestha
                            </span>
                            <span class="follow">Follow</span>
                        </div>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</article>