.ang-matDialog{
    margin-top: 60px;
    padding: 5px;
}

.article-content{
    justify-content: center;
    display: flex;

}

.header-center{
    margin-top: 0px;
    margin-right: 64px;
    max-width: 680px;
    width: 100%;
    min-width: 0px;
}

.category{
    margin-top: 3.88em;
    color: rgb(117, 117, 117);
    margin-bottom: -0.31em;
    font-style: normal;
    letter-spacing: 0.077em;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.blog-title{
    line-height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

}

.author-info{
    margin-top: 22px;
    justify-content: space-between;
    display: flex;
    align-items: center;  

}

.info-container{
    margin-left: 8px;
    width: 100%;
    display: block;
}

.name{
    display: flex;

}


.namee{
    margin-bottom: 2px;
    align-items: center;
    display: flex;
    line-height: 20px;
    font-size: 14px;

}

.nameee{
    text-overflow: ellipsis;
    max-height: 20px;
    line-height: 14px;
}

.follow{
    margin-left: 6px;
    text-decoration: none;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-left-radius: 99em;
    border-top-right-radius: 99em;
    border-bottom-right-radius: 99em;
    border-bottom-left-radius: 99em;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(54, 138, 231);
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 1px;
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.date-readtime{
    margin-top: 10px;
    color:rgb(117, 117, 117);
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.article-paragraph{
    margin-top: 32px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

.article-header{
    margin-top: 32px;
    font-size: 26px;
    line-height: 44px;
    font-weight: 400;
}

.code{
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(242, 242, 242);
    overflow-x: auto;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 400;
    
}


.code-block{
    font-weight: bold;
    overflow-x: auto;
    word-wrap: break-word;
    word-break: break-word;
    float: left;
    font-size: 14px;
}

.inline-code{
    background-color: rgb(242, 242, 242);

}