<div mat-dialog-content>

    <div fxLayout fxLayoutGap = "1%" class="legend-action-content">
        <mat-radio-group [(ngModel)]="legendStatusSelection">

            <mat-radio-button class="radio-button" [value] = "false" *ngIf="data.legend">
                Set Hero Legend Status to False
            </mat-radio-button>

            <mat-radio-button class="radio-button" [value] = "true" *ngIf="!data.legend">
                Set Hero Legend Status to True
            </mat-radio-button>

        </mat-radio-group>

        <mat-radio-group class="popularity-radio" [(ngModel)]="popularitySelection">

            <mat-radio-button class="radio-button" [value] = "false" *ngIf="data.popularity == 'high'">
                Set Hero Popularity to Low
            </mat-radio-button>

            <mat-radio-button class="radio-button" [value] = "true" *ngIf="data.popularity == 'low'">
                Set Hero Popularity to High
            </mat-radio-button>

        </mat-radio-group>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button 
    [mat-dialog-close]="{ legend: legendStatusSelection, popularity: popularitySelection }" 
    cdkFocusInitial>Ok</button>

</div>