<div class="intro-container">
    <h1 class="title">Elvis Blog</h1>
    <h2 class="sub-title">Sharing Software Development Tutorial and Articles </h2>
    
    <span class="follow-twitter">
        <a href="https://twitter.com/elvis_shrestha?ref_src=twsrc%5Etfw" 
        class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" ></a>
    </span>
        

    <br>
</div>

<div fxFlex fxLayout="row" class="main-article-container">
    <div class="article-img">
        <a routerLink="/blog1" routerLinkActive="active">
            <img src="assets/blog-1.jpg" alt="blog" width="600" height="300" role="presentation">
        </a>
    </div>

    <div class="article-info">
        <a routerLink="/blog1" routerLinkActive="active">
            <h1 class="info-title" style="color: black;">Building a dialog box to edit table row data with Angular Material Components
            </h1>
        </a>
        

        <p class="blog-desc">
            This <i>Angular 10 Material Dialog to Edit table row</i> tutorial shows you how we can use the Angular Material Dialog component 
                to build a reusable UI for CRUD operations on a table data. 
        </p>
    </div>
</div>

<div class="list-container">
    <mat-card class="example-card">
        
        <img mat-card-image src="assets/article1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="blog-desc">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>
      <mat-card class="example-card">
        
        <img mat-card-image src="assets/article1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="blog-desc">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>

      <mat-card class="example-card">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="blog-desc">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        
      </mat-card>
</div>

<div style="background-color: #1976d2; height: 60px; padding-top: 10px;">
    <div class="footer-row">
      <a href="http://www.elvishrestha.com">About the Author</a>
      <a routerLink="/blog1" routerLinkActive="active">Latest Blog</a>

    </div>
</div>

  

