<div class="intro-container">
  <h1 class="title">Elvis Blog</h1>
  <h2 class="sub-title">Sharing Software Development Tutorials and Articles </h2>

  <span class="follow-twitter">
    <a href="https://twitter.com/elvis_shrestha?ref_src=twsrc%5Etfw" class="twitter-follow-button"
      data-show-count="false" data-show-screen-name="false"></a>
  </span>


  <br>
</div>
<div fxFlex fxLayout="row" class="main-article-container">
  <div class="article-img">
    <a routerLink="/asp-net-uiajax" routerLinkActive="active">
      <img class="main-img" src="assets/blog-data.png" alt="blog" width="600" height="300" role="presentation">
    </a>
  </div>

  <div class="article-info">
    <a routerLink="/asp-net-uiajax" routerLinkActive="active">
      <h1 class="info-title" style="color: black;">Basic Reporting in ASP.NET CORE MVC with EF Core</h1>
    </a>

    <p class="blog-desc">
      In this tutorial, we will see how we can work with data in ASP.NET Core MVC with EF and list and present 
      the data in table. We will start with setting up the Data layer in ASP.NET 6.0 with Sqlite database and EF Core and create a presentation layer to list the data in table.
    </p>
  </div>
</div>  

<div class="list-container">
  <a routerLink="/asp-net-auth" routerLinkActive="active">
    <mat-card class="example-card">

      <img mat-card-image src="assets/Auth.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h1 class="list-title">
          Implementing JWT Token based Authentication using ASP.NET Core Identity 
        </h1>
        <p class="blog-desc">
          This guide will show you how we can implement JWT based authentication which is very popular among modern applications and SPAs in ASP.NET Core using Identity.
      We will use Identity to manager users (register and sign-in users), and create JWT based token that our client and several other applications can use to access the server.
        </p>
      </mat-card-content>

    </mat-card>
  </a>

  <a routerLink="/blog4" routerLinkActive="active">
    <mat-card class="example-card">

      <img mat-card-image src="assets/blog-4.png" alt="Jest testing">
      <mat-card-content class="card-content">
        <h1 class="list-title">
          Unit Testing Angular Services and Components Using JEST Framework (Part1)
        </h1>
        <p class="blog-desc">
          This <i>JEST testing tutorial</i> will offer techniques and tips on how to write unit tests for the service class in
      Angular using Jest framework.
        </p>
      </mat-card-content>

    </mat-card>
  </a>

  <a routerLink="/blog1" routerLinkActive="active">
    <mat-card class="example-card">

      <img mat-card-image src="assets/blog-1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="card-content">
        <h1 class="list-title">
          Building a dialog box to edit table row data with Angular Material Components
        </h1>
        <p class="blog-desc">
          This <i>Angular 10 Material Dialog to Edit table row</i> tutorial shows you how we can use the Angular
          Material Dialog component
          to build a reusable UI for CRUD operations on a table data.
        </p>
      </mat-card-content>

    </mat-card>
  </a>

</div>

<div class="list-container">
  <a routerLink="/angular-directive-blog" routerLinkActive="active">
    <mat-card class="example-card">

      <img mat-card-image src="assets/blog-2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h1 class="list-title">
          Angular Attribute Directive with Auto-focus example
        </h1>
        <p class="blog-desc">
          This article explains briefly about directives in Angular 9 with a sample example of using attribute directive
          to auto-focus on a input form.
        </p>
      </mat-card-content>

    </mat-card>
  </a>

  <a routerLink="/blog3" routerLinkActive="active">
    <mat-card class="example-card">

      <img mat-card-image src="assets/blog-3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="card-content">
        <h1 class="list-title">
          TV White Space Spectrum -- Super WiFi detailed look and its benefits to rural areas.
        </h1>
        <p class="blog-desc">
          This article gives you a detailed explanation on upcoming and promising internet technology by Microsoft,
          Super Wi-fi (TV white spectrum).
        </p>
      </mat-card-content>

    </mat-card>
  </a>
</div>