.intro-container{
    margin-left: 0%;
    margin-top: 40px;
    padding-bottom: 60px;
    width: 100%;
    background-color: #1976d2;
}

.title{
    color: #F5FFFF;
    padding-top: 90px;
    margin-left: 20%;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 44px;
}

.sub-title{
    color: #F5FFFF ;
    margin-left: 20%;
    margin-top: 20px;
    font-weight: 400;
}

.follow{
    margin-left: 20%;
    text-decoration: none;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-left-radius: 99em;
    border-top-right-radius: 99em;
    border-bottom-right-radius: 99em;
    border-bottom-left-radius: 99em;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(54, 138, 231);
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 1px;
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.main-article-container{
    margin-left: 14%;
    display: flex;
}

.article-img{
    margin-top: 20px;
}

.article-info{
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
}

.info-title{
    font-weight: 400;
    font-size: 28px;
}

.blog-desc{
    font-weight: 300;
    font-size: 18px;
    color: gray;
    line-height: 26px;
    text-overflow: ellipsis;
}

.article-info a {
    color: #FFFFFF;
    text-decoration: none;
}

.list-container{
    margin-left: 12.5%;
    margin-top: 40px;
    display: flex;
}

.example-card {
    max-width: 300px;
    margin-bottom: 44px;
    margin-left: 20px;
    height: 400px;
    text-overflow: ellipsis;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .follow-twitter{
    padding: 5px 0px 0px 284px;
}

.list-container a {
    color: #FFFFFF;
    text-decoration: none;
}

.list-title{
    font-weight: 500;
    font-size: 20px;
}

.card-content{
    text-overflow: ellipsis;
}


@media only screen and (max-width : 768px) {
    .main-article-container{
        width: fit-content;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
    }

    .list-container{
        margin-left: 2.5%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .follow-twitter{
        padding: 5px 0px 0px 110px;
    }
}
  


