.home-container{
    margin-left: 10%;
    margin-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    background-color: rgb(242, 242, 242);
}

.title{
    padding-top: 40px;
    margin-left: 20%;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 44px;
}

.sub-title{
    margin-left: 20%;
    margin-top: 20px;
    font-weight: 400;
}

.follow{
    margin-left: 20%;
    text-decoration: none;
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-left-radius: 99em;
    border-top-right-radius: 99em;
    border-bottom-right-radius: 99em;
    border-bottom-left-radius: 99em;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(54, 138, 231);
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 1px;
    color: white;
    font-size: 13px;
    line-height: 20px;
}

